/* 
Lesson 3: CSS positioning homwork. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/


/* Exercise One: Centering the text in a span */

/* We will start this one off for you: */
#exerciseOne {
  display: block;
  text-align: center;
}


/* Exercise Two: Positioning a Header Bar*/

/* Place code here */
#exerciseTwo{
  display: none;
}


/* Exercise Three: make the image appear in the red box*/

/* Place code here */
#exerciseThree{
  position: relative;
  top: 100px;
  left: 200px;
}


/* Exercise Four: header bar*/

/* Place code here */
#exerciseFour{
  padding-top: 15px;
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  z-index: 2;
}


/* Exercise Five: items centered vertically*/

/* Place code here */

#exerciseFive{
  text-align: center;
  line-height: 100%;
}

/* Exercise Six: swap title positions*/
#exerciseFive span:nth-child(1){
  position: relative;
  left: 350px;
}
#exerciseFive span:nth-child(3){
  position: relative;
  right: 310px;
}
/* Place code here */



/* Extra Credit */

/* Place code here */

#itemTwo{
  display: flex;
  flex-direction: column-reverse;
}
#itemOne {
  display: flex;
  flex-direction: row-reverse;
}
#itemThree{
  display: flex;
  flex-direction: column-reverse;
}