	body {
		background-image: url(images/girl.jpg);
		
	}
	h1 {
			color: red;
		}
		img {
			width: 400px;
			display: flex;
		}
		
		#thirdDiv {
			position: relative;
			display: flex;
			align-items: center;
			height: 800px;
			width: 500px;
			background-color: white;
			padding: 50px;
			border: 1px solid black;
		}
		#spanId {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 18px;
			margin: 50px;
		}

	