body{
	font-family: sans-serif;
	width: 80%;
	margin: auto;
}
.divClass h1{
		color: deepskyblue;	
		}
	#thirdDiv img{
		width: 400px;
	}
	#thirdDiv{
		height: 600px;
		width: 500px;
		background: aqua;
		padding: 50px;
		border: 1px dashed green;
	}
	#spanId{
		font-size: 18px;
		margin: 50px;
		padding: 10px;

		}
.divClass a{
	text-decoration: none;
	color: green;
}

.divClass h3,.divClass h4{
color: grey;
}
#thirdDiv ul li{
	list-style-type: square;
}