/* Should be empty until you compile your LESS */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.body-container,
body {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
body {
  Background: #FFFFFF;
  Color: #222222;
  Font-Family: Roboto, Arial, sans-serif;
  Font-Weight: Regular;
  Font-Size: 16px;
}

.topnav {
    position: fixed;
    width: 100%;
    height: 54px;
    z-index: 10;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #98a4ad;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 880px;
    padding: 13px 1.13% 0px 1.13%;
}

header img {
    cursor: pointer;
  }

header .logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    z-index: 4;
    text-decoration: none;
  }

.mylinks {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #98a4ad;
    opacity: 0.94;
    overflow-x: hidden;
    transition: 0.5s;
}

.mylinks {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #98a4ad;
    opacity: 0.94;
    overflow-x: hidden;
    transition: 0.5s;
}

.mylinks-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.mylinks a {
    padding: 8px;
    text-decoration: none;
    font-size: 6.4rem;
    line-height: 8.5rem;
    font-weight: bold;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.mylinks a:hover,
.mylinks a:focus {
    color: #222;
}
.mylinks .closebtn {
    position: absolute;
    top: 12px;
    right: 70px;

    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .mylinks a {font-size: 20px}
    .mylinks .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.containers {
    bottom: 60px;
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 20px;
    Font-Size: 64px;
    Line-Height: 75px;
    Color: #FFFFFF;
    padding-left: 20px;
    padding-right: 25px;
    Font-Weight: Bold;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 880px;
    justify-items: center;
    align-items: center;
    padding: 30px 0;
}

.main button {
    font-size: 1.6rem;
    height: 45px;
    width: 200px;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.main button:hover {
    background-color: #222;
    color: #fff;
}
.main .main1 {
    width: 80%;
}
.main .main1 p {
    padding: 25px 0;
}
.main .main11 {
    width: 80%;
}
.main .main11 img {
    border-radius: 2px;
}

.main .mobile-img {
    display: none;
}

.main1 h2{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.recent-project-title {
    max-width: 880px;
    margin: 0 auto;
  }
  @media (max-width:500px) {
    .inverse-content {
      flex-direction: column;
    }
    .recent-project-title {
      max-width: 500px;
      padding-left: 3%;
    }
  }

.mobile-img{
    display: none;
}
.main31 {
    grid-column: 1/3;
    position: relative;
}
.text-block1 {
    position: absolute;
    font-weight: lighter;
    letter-spacing: 8px;
    right: 106px;
    background-color: #c9c2c2;
    Font-Size: 24px;
    Line-Height: 55px;
    Color: black;
    padding: 12px 50px;
    border: 1px solid white;
    bottom: -50px;
}
.p1 {
    margin-left: 10em;
    Font-Size: 18px;
    margin-top: 4em;
    margin-bottom: 4em;
    Line-Height: 25px;
    width: 400px;
    grid-column: 1/2;
}

.p1 p{
    padding: 10px 0;
}

.main41 {
    grid-column: 1/3;
    position: relative;
}
.main41 h3 {
  position: absolute;
  bottom: -50px;
  font-weight: lighter;
  letter-spacing: 8px;
  background-color: #c9c2c2;
  Font-Size: 24px;
  Line-Height: 55px;
  Color: black;
  padding: 12px 50px;
  border: 1px white;
}
.main4 {
    margin-left: 10em;
    Font-Size: 18px;
    margin-top: 4em;
    margin-bottom: 4em;
    Line-Height: 25px;
    width: 400px;
    grid-column: 1/2;
}

.main4 p{
    padding: 10px 0;
}
.main51 {
  position: relative;
  grid-column: 1/3;
}
.main51 h3 {
  position: absolute;
  bottom: -50px;
  font-weight: lighter;
  letter-spacing: 8px;
  right: 106px;
  background-color: #c9c2c2;
  Font-Size: 24px;
  Line-Height: 55px;
  Color: black;
  padding: 12px 50px;
  border: 1px white;
}
.main5 {
    margin-left: 10em;
    Font-Size: 18px;
    margin-top: 4em;
    margin-bottom: 4em;
    Line-Height: 25px;
    width: 400px;
    grid-column: 1/2;
}

.main5 p{
    padding: 10px 0;
}
.address {
  width: 960px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: #828282;
  height: 235px;
  padding-top: 35px;
  margin-top: 75px;
}
.address h4 {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.address p {
  color: white;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.address .address-section {
  width: 19%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.address .contact-form {
  width: 37%;
  display: flex;
  flex-direction: column;
}
.address input {
  width: 93%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #98a4ad;
  margin-top: 10px;
  margin-bottom: 2px;
}
@media (max-width: 500px) {
  .address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .address .address-section {
    width: 92%;
    padding: 2%;
  }
  .address .contact-form {
    width: 92%;
  }
}
footer {
    display: flex;
    width: 960px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #828282;
}
footer p {
  color: white;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    justify-content: flex-start;
    align-items: none;
    flex-direction: row;
    padding-left: 6%;
  }
}

@media (max-width:500px) {
    header {
    padding-left: 4%;
    padding-right: 4%;
    }
}

@media (max-width:500px) {
    .containers .text-block {
      bottom: 28px;
      left: 3%;
    }
    .containers .text-block h2 {
      font-size: 4rem;
      line-height: 4.4rem;
      bottom: 20px;
      left: 3%;
    }
  }

  @media (max-width:500px) {
    .main {
    grid-auto-flow: column;
    max-width: 500px;
    }
    .main .main1 {
      padding-top: 25px;
      width: 94%;
    }

    .topnav #myNav {
        display: none;
      }
    .main1 img {
      display: none;
    }
    .main button {
      font-size: 1.6rem;
      height: 55px;
      width: 98%;
      text-align: center;
      cursor: pointer;
    }
    .main button:hover {
      background-color: #222;
      color: #fff;
    }
    .main .mobile-img {
        display: flex;
        position: relative;
        width: 92%;
      }
    }
    .recent-project {
      max-width: 880px;
      margin: 0 auto;
    }