/* Should be empty until you compile your LESS */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    background: #FFFFFF;
    color: #222222;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    min-width: 400px;
}
#services-body {
    padding-bottom: 250px;
}

.navigator-component,
.getInTouch,
.home-container{
    content: '';
    display: block;
    clear: both;
}

/*---NAVIGATION ----*/

.sidebar h4 {
    position: absolute;
    top: 0;
    left: 5%;
    display: inline-block;
    color: #FFFFFF;
}

.sidebar {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(130,130,130,0.9);
    overflow-y: hidden;
    transition: 500ms;
    text-align: center;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 48px;
    line-height: 85px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    transition: 300ms;
}
.sidebar a:hover {
    color: #222;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5%;
}

.openbtn {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    padding: 10px;
    border: none;
}

.openbtn:hover {
    cursor: pointer;
}

/*---HEADER ----*/
.header {
    height: 50px;
    background: #828282;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header h4 {
    margin-left: 5%;
    display: inline-block;
    color: #FFFFFF;
}

nav {
    display: block;
    float: right;
    margin-right: 5%;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #222222;
}

.container {
    width: 90%;
    margin: 0 auto;
}



/*---HOME PAGE ----*/
.container-home{
    padding: 1px 5%;
    height: 100vh;
    background-image: url("../img/home/home-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-home h1 {
    padding-top: 300px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}

.button-pure {
    width: 100%;
}

section {
    display: inline-block;
}

.architects {
    margin-top: 70px;
    width: 100%;
}

.firstHomeImage {
    float: right;
}

.sj {
    float: left;
    width: 40%;
}

h3 {
    font-weight: bold;
    font-size: 28px;
    color: #222222;
}

.architects h3 {
    display: inline-block;
    margin-top: 50px;
}

.button {
    text-decoration: none;
    color: #222222;
    border: 1px solid #222222;
    padding: 10px 40px;
    background: #FFFFFF;
    font-size: 1.1em;
}

.designs {
    margin-top: 100px;
}

.future {
    float: right;
    width: 40%;
}


.container-projects {
    margin-top: 100px;
}

.container-projects h3 {
    margin-bottom: 50px;
}

.villas {
    margin: 0;
    border: 1px solid #D8D8D8;
    padding: 30px 20px 30px 35px;
    background-color: #D8D8D8;
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline;
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: 5px;
}

.paragraph {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 80px;
}

.outskirts {
    margin: 0;
    border: 1px solid #D8D8D8;
    padding: 30px 20px 30px 35px;
    background-color: #D8D8D8;
    width: 250px;
    position: absolute;
    transform: translateY(-50px);
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: 5px;
}

.blocks {
    margin: 0;
    border: 1px solid #D8D8D8;
    padding: 30px 20px 30px 35px;
    background-color: #D8D8D8;
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline;
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: 5px;
}

.mobile-images {
    position: relative;
    width: 90%;
    height: 275px;
    margin: 0 auto;
}

.stretch-images {
height: 230px;
width: 100%;
}


/*====FOOTER====*/

footer {
    height: 250px;
    background-color: #828282;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 50px;
}

.services-footer {
    position: absolute;
    top: 978px;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-footer {
    top: 3476px;
}

.container-footer {
    display: flex;
}

h5 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 10px;
}

footer p {
    margin: 0;
}

.container-footer input[type=email] {
    height: 35px;
    width: 250px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-top: 20px;
    padding-left: 5px;
}

.col-2 {
    margin-right: 50px;
    padding-top: 15px;
    width: 33%;
}

.col-1 {
    margin-right: 65px;
    width: 15%;
}

.col-1 li {
    list-style-type: none;
}

.unstyled-list {
    margin: 0;
    padding: 0;
}

footer span {
    margin-top: 10px;
    display: block;
    text-align: center;
}


/*====SERVICES PAGE====*/

.services-jumbotron{
    padding: 1px 5%;
    height: 50vh;
    background-image: url("../img/services/services-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-jumbotron h1 {
    padding-top: 180px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}

.container-services {
    margin-top: 60px;
}

.tab-navigator {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navigator {
    background-color: #FFFFFF;
    color: #222222;
    border: 1px solid #222222;
    padding: 0;

}

.navigator h3 {
    margin: 0;
    padding: 15px 25px;
    transition: 300ms;
}

.navigator:hover {
    cursor: pointer;
    background: #5E9FB9;
}

.navigator:active {
    background: #5E9FB9;
}

.navigator:focus {
    background: #5E9FB9;
}

.navigator-components {
    margin-top: 50px;
    margin-bottom:150px;
    display: none;
}

.formattedText {
    width: 50%;

}

.services-images {
    width: 400px;
    height: 275px;
    float: right;
    transform: translateY(-250px);
}


/*====CONTACT PAGE====*/

.contact-jumbotron{
    padding: 1px 5%;
    height: 50vh;
    background-image: url("../img/contact/contact-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-jumbotron h1 {
    padding-top: 180px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}

.container form {
    display: inline-block;
}

.container form input {
    height: 35px;
    width: 100%;
    border: 1px solid #828282;
    border-radius: 2px;
    margin-top: 10px;
    padding-left: 5px;
}

.container form textarea {
    width: 100%;
    border: 1px solid #828282;
    border-radius: 2px;
    margin-top: 10px;

}

.container form input[type=radio] {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.getInTouch {
    margin-top: 50px;
    margin-bottom: 50px;
}

aside {
    float: right;
    margin-right: 8%;
    margin-left: 8%;
}

aside ul {
    margin-left: -40px;
}

aside li {
    list-style-type: none;
}

/*====MEDIA QUERIES====*/

/*===HOME PAGE MOBILE ====*/

@media screen and (max-width: 767px) {
    .sidebar a {
        font-size: 24px;
        line-height: 50px;
    }
    .container-home{
        background-image: url("../img/home/home-mobile-jumbotron.png");
    }
    .container-home h1 {
        padding-top: 40vh;
    }
    .firstHomeImage,
    .secondHomeImage {
        width: 290px;
        height: 275px;
        float: none;
    }

    .homePictures {
        margin: 0 auto;
    }
    .sj,
    .future {
        width: 100%;
    }

    .button-pure {
        width: 100%;
    }
    .button {
        width: 80%;
        padding: 10px 137px;
    }

    .mobile-images {
        width: 320px;
        height: 310px;
        overflow-x: hidden;
    }

.stretch-images {
    height: auto;
    width: auto;
}

    .villas,
    .blocks,
    .outskirts {
        width: 230px;
        transform: translate(15px,-20px)
    }
    .paragraph {
        width: 80%;
        padding-top: 80px;
        margin-left: 10%;
        margin-bottom: 80px;
    }
    .container-footer {
        flex-flow: column;
    }
    footer span {
        margin-top: 0;
        margin-left: 30%;
        display: block;
        text-align: left;
    }

/*===SERVICES PAGE MOBILE ====*/
    .services-jumbotron{
        height: 65vh;
        background-image: url("../img/services/services-mobile-jumbotron.png");
    }
    .services-jumbotron h1 {
        padding-top: 40vh;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
    }
    .container-services {
        margin: 30px 0;
    }
    .tab-navigator {
        flex-direction: column;
    }
    .navigator {
        margin-bottom: 40px;
    }
    .navigator h3 {
        margin: 0;
        padding: 28px 22px;
        cursor: pointer;
        transition: 300ms;
    }
    .navigator h3:hover {
        background: #222222;
        color: #FFFFFF;
    }
    .navigator h3:active {
        background: #5E9FB9;
    }
    .navigator-components {
        margin-bottom: 350px;
    }
    .formattedText {
        width: 100%;
    }
    .services-images {
        width: 290px;
        height: 290px;
        overflow: hidden;
        float: none;
        margin: 0 auto;
        transform: none;
    }

/*====CONTACT PAGE====*/

    .contact-jumbotron{
        padding: 1px 5%;
        height: 60vh;
        background-image: url("../img/contact/contact-mobile-jumbotron.png");
    }

    .contact-jumbotron h1 {
        padding-top: 235px;
    }

    h3 {
        margin-top: 0;
    }
    .button {
        width: 100%;
        padding: 15px;
    }

    aside {
        float: none;
        margin: 0;
        margin-top: 50px;
    }

/*====FOOTER====*/

    footer {
        top: 1728px;
        height: 663px;
        background-color: #828282;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #FFFFFF;
        padding-top: 50px;
    }
    .services-footer {
        top: 1728px;
    }
    [class^=col-] {
        width: 100%;
        padding: 10px 0;
    }
}
